### Ejercicio de Boston House Price

El grupo:
Elena, Mikel, Daniel, Rodrigo y Américo

### Step 1 importamos los paquetes

In [1]:
# pip install ipywidgets
# pip install geocoder
# pip install geopy
#!pip install vega_datasets 
#!pip install plotly
#!pip install wordcloud
#!pip install nbformat>5 
#!pip install folium

In [1]:
# Importamos todos los paquetes que vayamos a necesitar

import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import geopandas as gpd
import folium 
import geocoder # pip install geocoder
from wordcloud import WordCloud
from vega_datasets import data as vds # pip install vega_datasets 
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

Os dejamos en el apartado de datos de Teoría información sobre la vivienda en Boston. Un conjunto de datos con los siguientes campos informados:

    1. CRIM     Crimen per cápita por ciudad
    2. ZN       Proporción de zona marcada como residencial para espacios superiores 25,000 sq.ft.
    3. INDUS    Proporción de acres comerciales no minoristas por ciudad
    4. CHAS     Variable Charles River dummy (= 1 si el trazado limita con el río; 0 otro)
    5. NOX      Concentración de óxidos nítricos (partes por 10 millones)
    6. RM       Número medio de habitaciones por vivienda
    7. AGE      Proporción de unidades ocupadas por sus propietarios construidas antes de 1940
    8. DIS      Distancias ponderadas a cinco centros de empleo de Boston
    9. RAD      Índice de accesibilidad a las autopistas radiales
    10. TAX      Tipo del impuesto sobre bienes inmuebles de valor íntegro por 10.000 dólares
    11. PTRATIO  Ratio alumnos-profesor por ciudad
    12. B        1000(Bk - 0,63)^2 donde Bk es la proporción de negros por ciudad
    13. LSTAT    % estatus inferior de la población
    14. PRICE    Valor medio de las viviendas ocupadas por sus propietarios en miles de dólares

### Step 2 tomaremos el fichero en (ruta)

In [30]:
#data = pd.read_csv('./data/boston_house_prices.csv')
data = pd.read_csv('./data/boston_cvs_daniel.csv', delimiter=';', decimal=',')

data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE,TOWN,TOWN#,TRACT,LAT,LON
0,"0,00632",18.0,2.31,0,0.538,6.575,65.2,"4,09",1,296,15.3,396.90,4.98,24.0,Nahant,0,2011,42.2550,-70.9550
1,"0,02731",0.0,7.07,0,0.469,6.421,78.9,49.671,2,242,17.8,396.90,9.14,21.6,Swampscott,1,2021,42.2875,-70.9500
2,"0,02729",0.0,7.07,0,0.469,7.185,61.1,49.671,2,242,17.8,392.83,4.03,34.7,Swampscott,1,2022,42.2830,-70.9360
3,"0,03237",0.0,2.18,0,0.458,6.998,45.8,60.622,3,222,18.7,394.63,2.94,33.4,Marblehead,2,2031,42.2930,-70.9280
4,"0,06905",0.0,2.18,0,0.458,7.147,54.2,60.622,3,222,18.7,396.90,5.33,36.2,Marblehead,2,2032,42.2980,-70.9220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,"0,06263",0.0,11.93,0,0.573,6.593,69.1,24.786,1,273,21.0,391.99,9.67,22.4,Winthrop,91,1801,42.2312,-70.9860
502,"0,04527",0.0,11.93,0,0.573,"6,12",76.7,22.875,1,273,21.0,396.90,9.08,20.6,Winthrop,91,1802,42.2275,-70.9910
503,"0,06076",0.0,11.93,0,0.573,6.976,91.0,21.675,1,273,21.0,396.90,5.64,23.9,Winthrop,91,1803,42.2260,-70.9948
504,"0,10959",0.0,11.93,0,0.573,6.794,89.3,23.889,1,273,21.0,393.45,6.48,22.0,Winthrop,91,1804,42.2240,-70.9875
505,"0,04741",0.0,11.93,0,0.573,"6,03",80.8,2.505,1,273,21.0,396.90,7.88,11.9,Winthrop,91,1805,42.2210,-70.9825

### Step 3. Veamos los tipos de datos.

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    object
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    object
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    object
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  PRICE    506 non-null    float64
 14  TOWN     506 non-null    object
 15  TOWN#    506 non-null    int64
 16  TRACT    506 non-null    int64
 17  LAT      506 non-null    float64
 18  LON      506 non-null    float64
dtypes: float64(10), int64(5), object(4)
memory usage: 75.2+ KB

### Step 4. Cread un dataframe con la información de abajo

In [32]:
df_boston = pd.DataFrame(data)

df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE,TOWN,TOWN#,TRACT,LAT,LON
0,"0,00632",18.0,2.31,0,0.538,6.575,65.2,"4,09",1,296,15.3,396.90,4.98,24.0,Nahant,0,2011,42.2550,-70.955
1,"0,02731",0.0,7.07,0,0.469,6.421,78.9,49.671,2,242,17.8,396.90,9.14,21.6,Swampscott,1,2021,42.2875,-70.950
2,"0,02729",0.0,7.07,0,0.469,7.185,61.1,49.671,2,242,17.8,392.83,4.03,34.7,Swampscott,1,2022,42.2830,-70.936
3,"0,03237",0.0,2.18,0,0.458,6.998,45.8,60.622,3,222,18.7,394.63,2.94,33.4,Marblehead,2,2031,42.2930,-70.928
4,"0,06905",0.0,2.18,0,0.458,7.147,54.2,60.622,3,222,18.7,396.90,5.33,36.2,Marblehead,2,2032,42.2980,-70.922

### Step 5. Buscad valores faltantes

In [33]:
df_boston.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
PRICE      0
TOWN       0
TOWN#      0
TRACT      0
LAT        0
LON        0
dtype: int64

### Rodrigo

### Daniel

### Mikel

### Lorena

### Americo